#cuerpo{
background-color: green;
text-align: center;
}

#perfil{
    display: inline-block;
    background-color: orange;
}

#educacion,#experiencia,#skills{
    display: inline-block;
    width: 300px;
    background-color: blue;

}